In [1]:
import pandas as pd

In [ ]:
data_raw =pd.read_csv('C:/Users/Valentine/Artigo_Mapitos/data_raw/Tabela_Completa.csv')
data = data_raw[['degr']]

In [3]:
data_raw =pd.read_csv('C:/Users/Valentine/Artigo_Mapitos/data_raw/Tabela_Completa.csv')
data = data_raw[[
    'estado_civil_do_produtora',
    'escolaridade',
    'reside_na_propriedade',
    'condicoes_de_dominio_da_terra',
    'condicoes_da_moradia',
    'acessa_ou_ja_acessou_politicas_publicas',
    'participa_de_organizacao_social',
    'area_da_propriedade_hectares',
    'possui_car',
    'enfrenta_dificuldades_para_manter_atividade_produtiva_e_o_atendimento_domestico_em_virtude_de_escass'

]]
data.head( )

,estado_civil_do_produtora,escolaridade,reside_na_propriedade,condicoes_de_dominio_da_terra,condicoes_da_moradia,acessa_ou_ja_acessou_politicas_publicas,participa_de_organizacao_social,area_da_propriedade_hectares,possui_car,enfrenta_dificuldades_para_manter_atividade_produtiva_e_o_atendimento_domestico_em_virtude_de_escass
0,Viúvo,Superior,Sim,Propietário,Regular,"Compra Direta (PAA), Merenda Escolar (PENAE)",Cooperativa,10 - 20 ha,Sim,Não
1,União Estável,Médio,Sim,Propietário,Boa,Não,Não,1 - 5 ha,Sim,Não
2,Casado,Médio,Não,Propietário,Boa,Crédito Rural,Associação,5 - 10 ha,Sim,Não
3,Solteiro,Superior Incompleto,Sim,Propietário,Regular,Não,Não,10 - 20 ha,Sim,Não
4,Divorciado,Médio,Sim,Posseiro,Boa,Bolsa Família,Não,50 - 100 ha,Sim,Não

In [6]:
data_raw =pd.read_csv('C:/Users/Valentine/Artigo_Mapitos/data_raw/Tabela_Completa.csv')
data_deg = data_raw[[
    'municipio',
    'regional',
    'qual_o_nivel_de_degradacao_que_predomina_nas_pastagens'
    ]]

data_deg.head()
data_deg.to_csv('C:/Users/Valentine/Artigo_Mapitos/data_raw/degradacao.csv')

In [14]:
data_deg = pd.read_csv('C:/Users/Valentine/Artigo_Mapitos/data_clean/01_Municipios_Normalizados/01_Deg_mun.csv')
data_d = data_deg[[
    'codigo_final',
    'municipio_ibge',
    'regional',
    'qual_o_nivel_de_degradacao_que_predomina_nas_pastagens'
    ]]
data_d['qual_o_nivel_de_degradacao_que_predomina_nas_pastagens'].describe()
data_d.to_csv('C:/Users/Valentine/Artigo_Mapitos/data_clean/02_Formatado/02_degradacao.csv')

In [20]:
import pandas as pd
import numpy as np
import unidecode

data_d.columns = data_d.columns.str.strip().str.lower()

col_degrad = [c for c in data_d.columns if "degradacao" in c][0]

data_d[col_degrad] = (
    data_d[col_degrad]
    .astype(str)
    .str.strip()
    .str.lower()
    .apply(unidecode.unidecode)  # remove acentos
)

# Dicionário ajustado sem acentos
mapa_degradacao = {
    "nao possui degradacao": 0,
    "pouco degradado": 1,
    "degradacao media": 2,
    "muito degradado": 3
}

# Aplicar mapeamento
data_d["degradacao_ord"] = data_d[col_degrad].map(mapa_degradacao)

# Conferir valores únicos e se deu certo
print("Valores únicos de degradação bruta:", data_d[col_degrad].unique())
print("Valores únicos de degradação codificada:", data_d["degradacao_ord"].unique())

Valores únicos de degradação bruta: ['pouco degradado' 'degradacao media' 'nao possui degradacao' 'nan'
 'muito degradado']
Valores únicos de degradação codificada: [ 1.  2.  0. nan  3.]

C:\Users\Valentine\AppData\Local\Temp\ipykernel_12984\285543844.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_d[col_degrad] = (
C:\Users\Valentine\AppData\Local\Temp\ipykernel_12984\285543844.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_d["degradacao_ord"] = data_d[col_degrad].map(mapa_degradacao)

In [30]:
data_d.loc[data_d['degradacao_ord'] == 'NaN', 'degradacao_ord'] = 0

In [32]:
data_d.to_csv('C:/Users/Valentine/Artigo_Mapitos/data_clean/02_Formatado/02_data_d.csv')

In [21]:
data_d.head()

,codigo_final,municipio_ibge,regional,qual_o_nivel_de_degradacao_que_predomina_nas_pastagens,degradacao_ord
0,1713205.0,Miracema do Tocantins,Miracema,pouco degradado,1.0
1,1715002.0,Nova Rosalândia,Paraiso,degradacao media,2.0
2,1707009.0,Dianópolis,Taguatinga,nao possui degradacao,0.0
3,1707009.0,Dianópolis,Taguatinga,pouco degradado,1.0
4,1714880.0,Nova Olinda,Araguaina,nao possui degradacao,0.0

In [28]:
mapeamento_nomes = {'NaN': 0}
data_d['degradacao_ord'] = data_d['degradacao_ord'].replace(mapeamento_nomes)

C:\Users\Valentine\AppData\Local\Temp\ipykernel_12984\537397548.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_d['degradacao_ord'] = data_d['degradacao_ord'].replace(mapeamento_nomes)

In [29]:
data_d

,codigo_final,municipio_ibge,regional,qual_o_nivel_de_degradacao_que_predomina_nas_pastagens,degradacao_ord
0,1713205.0,Miracema do Tocantins,Miracema,pouco degradado,1.0
1,1715002.0,Nova Rosalândia,Paraiso,degradacao media,2.0
2,1707009.0,Dianópolis,Taguatinga,nao possui degradacao,0.0
3,1707009.0,Dianópolis,Taguatinga,pouco degradado,1.0
4,1714880.0,Nova Olinda,Araguaina,nao possui degradacao,0.0
...,...,...,...,...,...
1320,1700707.0,Alvorada,Gurupi,nan,NaN
1321,NaN,NaN,Araguaina,nan,NaN
1322,1713809.0,Palmeiras do Tocantins,Araguatins,nan,NaN
1323,1713809.0,Palmeiras do Tocantins,Araguatins,nan,NaN
1324,1715002.0,Nova Rosalândia,Paraiso,nan,NaN

In [6]:
data_sem =data_d[data_d['degradacao_ord'].notna()]

NameError: name 'data_d' is not defined

In [7]:
url_ibge = "C:/Users/Valentine/Artigo_Mapitos/data_raw/data_auxiliar/IBGE_mun.csv"
ibge = pd.read_csv(url_ibge)

# Filtrar Tocantins (COD_UF = 17)
ibge_to = ibge[ibge["COD_UF"] == 17].copy()
ibge_to

     COD_UF      COD                  NOME
311      17  1700251           Abreulândia
312      17  1700301         Aguiarnópolis
313      17  1700350  Aliança do Tocantins
314      17  1700400                 Almas
315      17  1700707              Alvorada
..      ...      ...                   ...
445      17  1721208        Tocantinópolis
446      17  1721257              Tupirama
447      17  1721307            Tupiratins
448      17  1722081          Wanderlândia
449      17  1722107               Xambioá

[139 rows x 3 columns]

In [ ]:
data = pd.read_csv('C:/Users/Valentine/Artigo_Mapitos/data_clean/05_Regionais/mean_degradacao_mun.csv')
data_raw =pd.read_csv('C:/Users/Valentine/Artigo_Mapitos/data_raw/Tabela_Completa.csv')
muni = ibge_to[['NOME','COD']]

                     NOME      COD
311           Abreulândia  1700251
312         Aguiarnópolis  1700301
313  Aliança do Tocantins  1700350
314                 Almas  1700400
315              Alvorada  1700707
..                    ...      ...
445        Tocantinópolis  1721208
446              Tupirama  1721257
447            Tupiratins  1721307
448          Wanderlândia  1722081
449               Xambioá  1722107

[139 rows x 2 columns]

In [12]:
muni.rename(columns={'COD': 'codigo_final'}, inplace=True)
muni

C:\Users\Valentine\AppData\Local\Temp\ipykernel_19184\3620963594.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  muni.rename(columns={'COD': 'codigo_final'}, inplace=True)

                     NOME  codigo_final
311           Abreulândia       1700251
312         Aguiarnópolis       1700301
313  Aliança do Tocantins       1700350
314                 Almas       1700400
315              Alvorada       1700707
..                    ...           ...
445        Tocantinópolis       1721208
446              Tupirama       1721257
447            Tupiratins       1721307
448          Wanderlândia       1722081
449               Xambioá       1722107

[139 rows x 2 columns]

In [13]:
df_mesclado = pd.merge(data, muni, on='codigo_final', how='left')

In [15]:
df_mesclado.to_csv('C:/Users/Valentine/Artigo_Mapitos/data_clean/05_Regionais/muni_media_deg.csv')

In [52]:
#data_d['codigo_final'].astype(int)   # ou a coluna de código que tiver
agg = data_d.groupby('codigo_final').agg(
    mean_degradacao = ('degradacao_ord','mean'),
    n_obs = ('degradacao_ord','count')
).reset_index()
agg

agg.to_csv("C:/Users/Valentine/Artigo_Mapitos/data_clean/05_Regionais/mean_degradacao_mun.csv", index=False, encoding='utf-8-sig')

In [42]:
data_d.groupby('municipio_ibge').count()

,codigo_final,regional,qual_o_nivel_de_degradacao_que_predomina_nas_pastagens,degradacao_ord
municipio_ibge,,,,
Abreulândia,7,7,7,4
Aguiarnópolis,2,2,2,0
Aliança do Tocantins,8,8,8,8
Almas,18,18,18,11
Alvorada,11,11,11,9
...,...,...,...,...
Tupirama,11,11,11,1
Wanderlândia,11,11,11,3
Xambioá,30,30,30,22
darcinópolis,12,12,12,2
dois Irmãos do Tocantins,27,27,27,17

In [4]:
data['enfrenta_dificuldades_para_manter_atividade_produtiva_e_o_atendimento_domestico_em_virtude_de_escass'].describe

<bound method NDFrame.describe of 0       Não
1       Não
2       Não
3       Não
4       Não
       ...
1320    Não
1321    Não
1322    Não
1323    Não
1324    Não
Name: enfrenta_dificuldades_para_manter_atividade_produtiva_e_o_atendimento_domestico_em_virtude_de_escass, Length: 1325, dtype: object>

In [5]:
data['enfrenta_dificuldades_para_manter_atividade_produtiva_e_o_atendimento_domestico_em_virtude_de_escass'].value_counts()

enfrenta_dificuldades_para_manter_atividade_produtiva_e_o_atendimento_domestico_em_virtude_de_escass
Não                                                      837
Sim, julho a novembro                                    447
Sim, o ano todo                                           24
De dezembro a maio                                         1
agosto a outubro                                           1
FALTA DE ENERGIA PARA DISTRIBUIÇÃO DE AGUA MECANIZADA      1
AGOSTO OUTUBRO                                             1
Setembro a novembro                                        1
AGOSTO A OUTUBRO                                           1
agosto e setembro                                          1
setembro a novembro                                        1
AGOSTO/SETEMBRO                                            1
junho a dezembro                                           1
QUANDO FALTA ENERGIA NA BOMBA                              1
NÃO TEM ÁGUA NA PROPRIEDADE                                1
De agosto a setembro                                       1
agosto a novembro                                          1
meses de agosto a dezembro                                 1
setembro                                                   1
setembro a outubro                                         1
Name: count, dtype: int64

In [8]:
escasses_hid = data_raw[[
    'municipio',
    'enfrenta_dificuldades_para_manter_atividade_produtiva_e_o_atendimento_domestico_em_virtude_de_escass',
]]
escasses_hid.head()

,municipio,enfrenta_dificuldades_para_manter_atividade_produtiva_e_o_atendimento_domestico_em_virtude_de_escass
0,Miracema do Tocantins,Não
1,Nova Rosalãndia,Não
2,DIANÓPOLIS,Não
3,DIANÓPOLIS,Não
4,Nova Olinda,Não

In [11]:
escasses_hid.to_csv('C:/Users/Valentine/Artigo_Mapitos/data_raw/escasses_hid.csv', index=False, encoding="utf-8-sig")

In [24]:
PP = pd.read_csv('C:/Users/Valentine/Artigo_Mapitos/data_clean/03_Explodido/03_Politicas_Publicas_Mun.csv')

PP['acessa_ou_ja_acessou_politicas_publicas__'].value_counts()

acessa_ou_ja_acessou_politicas_publicas__
Crédito rural                           372
Compra direta (paa)                     309
Bolsa família                           193
Aposentadoria rural                     187
Merenda escolar (penae)                 184
Não                                     140
Fomento                                  95
Conab                                     7
Caf                                       6
Pncf                                      4
Auxilio doença                            3
Oportunidade                              2
Pensão por morte                          2
Pensão                                    2
Ater                                      2
Pronaf a                                  1
Ater indígena                             1
Ater ingena                               1
Programa quintal verde                    1
Agente saúde                              1
Bpc                                       1
Pensão inss                               1
Loa                                       1
Aposentadoria inss                        1
Aposentadoria por invalidade              1
Aposentadoria por invalidez               1
Defeso                                    1
Car.                                      1
Ater normal                               1
Pronaf                                    1
Mais amlimento                            1
Credito fundiario                         1
Cadastro ambiental rural                  1
Aposento por incapacidade permamente      1
Bpc filho deficiente                      1
Cid:h54.0                                 1
Seguro defeso                             1
Pensao doença                             1
Fomento tocantins                         1
Credito fundiário                         1
Beneficio por invalidez                   1
Outros                                    1
Tarifa social                             1
Name: count, dtype: int64

In [12]:
escasso = pd.read_csv('C:/Users/Valentine/Artigo_Mapitos/data_clean/05_Regionais/Regionais/02_Escassez_Hidrica.csv')
escasso.head()

,enfrenta_dificuldades_para_manter_atividade_produtiva_e_o_atendimento_domestico_em_virtude_de_escass,municipio_ibge,regional
0,Não,Miracema do Tocantins,Miracema
1,Não,Nova Rosalândia,Paraiso
2,Não,Dianópolis,Taguatinga do Tocantins
3,Não,Dianópolis,Taguatinga do Tocantins
4,Não,Nova Olinda,Araguína

In [13]:
import pandas as pd

# 1. carregar CSV
data = escasso

col = 'enfrenta_dificuldades_para_manter_atividade_produtiva_e_o_atendimento_domestico_em_virtude_de_escass'

# 2. lista das variantes que devem virar 'Sim, julho a novembro'
variants = [
    'De dezembro a maio',
    'agosto a outubro',
    'FALTA DE ENERGIA PARA DISTRIBUIÇÃO DE AGUA MECANIZADA',
    'AGOSTO OUTUBRO',
    'Setembro a novembro',
    'AGOSTO A OUTUBRO',
    'agosto e setembro',
    'setembro a novembro',
    'AGOSTO/SETEMBRO',
    'junho a dezembro',
    'QUANDO FALTA ENERGIA NA BOMBA',
    'NÃO TEM ÁGUA NA PROPRIEDADE',
    'De agosto a setembro',
    'agosto a novembro',
    'meses de agosto a dezembro',
    'setembro',
    'setembro a outubro'
]

# 3. normalizar e criar máscara (case-insensitive)
norm = data[col].astype(str).str.strip().str.lower()
variants_norm = [v.strip().lower() for v in variants]

mask_variants = norm.isin(variants_norm)

# 4. aplicar a primeira substituição para unificar variantes
data.loc[mask_variants, col] = 'Sim, julho a novembro'

# 5. garantir que entradas já iguais (com variações de case/espacos) também sejam capturadas
#    (por exemplo 'Sim, julho a novembro' com maiúsculas/minúsculas diferentes)
mask_sim_julho = data[col].astype(str).str.strip().str.lower() == 'sim, julho a novembro'
data.loc[mask_sim_julho, col] = 'Sim, julho a novembro'  # padroniza o texto

# 6. renomear 'Sim, julho a novembro' para 'Sim, período de seca'
data.loc[data[col].str.strip().str.lower() == 'sim, julho a novembro', col] = 'Sim, período de seca'

# 7. conferir resultado
print(data[col].value_counts())

enfrenta_dificuldades_para_manter_atividade_produtiva_e_o_atendimento_domestico_em_virtude_de_escass
Não                     837
Sim, período de seca    464
Sim, o ano todo          24
Name: count, dtype: int64

In [14]:
data.to_csv('C:/Users/Valentine/Artigo_Mapitos/data_clean/05_Regionais/escassesz_hid.csv', index=False, encoding="utf-8-sig")